<footer>
  <div class="container">
  <ul class="text-muted">
    <li>Some</li>
    <li>Footer</li>
    <li>Things</li>
    <li>To</li>
    <li>Play</li>
    <li>With</li>
  </ul>
  <ul class="text-muted">
    <li>Simulating</li>
    <li>Large</li>
    <li>Footer</li>
    <li>Layout</li>
  </ul>
  <ul class="text-muted">
    <li>Here</li>
    <li>Are</li>
    <li>Other</li>
    <li>List</li>
    <li>Items</li>
  </ul>
  </div>
</footer>