.main-view-container {
  &.ng-enter,
  &.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
  }

  &.ng-enter {
    @include transition(.1s ease-out all .1s);
  }

  &.ng-leave {
    @include transition(0.1s ease-out all);
  }

  &.ng-enter,
  &.ng-leave.ng-leave-active {
    @include opacity(0);
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
  @include opacity(1);
  }
}

footer {
  position: absolute;
  bottom: 0;
  height: 170px;
  width: 100%;
  background-color: #444;

  ul {
    list-style: none;
    display: inline-block;
    margin: 20px 10%;
    vertical-align: top;
  }

  li {
    color: #ccc;
  }

  li:hover {
    color: #efefef;
  }
}